body {
  background-image: url("Tweede_Kamer_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  background-color: white;
  position: relative;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 100px;
  height: 470px;
  width: 1000px;
}

h1 {
  position: absolute;
  margin: 50px;
  margin-left: 90px;
  font-size: 60px;
}

h2 {
  position: absolute;
  top: 130px;
  left: 110px;
}

.startButton {
  position: absolute;
  top: 340px;
  left: 41%;
  width: 130px;
  height: 70px;
  font-size: 30px;
}

#voteButtons {
  position: relative;
  top: 290px;
  left: 320px;
  width: 400px;
}
.voteButton {
  font-size: 20px;
  margin: 5px;
}

#homeButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  height: 35px;
}

#goToOutcome {
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 190px;
  font-size: 20px;
  height: 35px;
}

#reverseButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  height: 35px;
}

#statement {
  position: relative;
  top: 230px;
  left: 17px;
  height: 50px;
}

ul {
  position: absolute;
  top: 180px;
  height: 300px;
  width: 500px;
}

#selectParties {
  position: absolute;
  top: 200px;
  left: 320px;
}

#bigPartiesButton {
  visibility: hidden;
  position: absolute;
  top: 80px;
}
#secularPartiesButton {
  visibility: hidden;
  position: absolute;
  top: 200px;
}
#allPartiesButton {
  visibility: hidden;
  position: absolute;
  top: 320px;
}
